* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-style: normal;
}

body {
  /* background-color: rgb(236, 249, 255); */
  padding: 12px 16px;
}

/* HEADER SECTION */
.app-bar {
  /* background-color: #F5F5F7; */
  /* padding: 20px 16px; */
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.brand-logo {
  background-color: #F5F5F7;
  border: none;
  padding: 16px;
  border-radius: 50%;
  line-height: 0;
}

.desktop-logo {
  display: none;
}

form {
  flex: 1;
}

.search-input {
  background-color: #F5F5F7;
  border: none;
  padding: 22px;
  border-radius: 24px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
}

.search-input::placeholder {
  font-size: 16px;
}

.search-input:focus-visible {
  outline: none;
}
/* END OF HEADER SECTION */

/* ASIDE SECTION */
nav {
  position: fixed;
  bottom: 8px;
  left: 16px;
  right: 16px;
  background-color: #F5F5F7;
  border-radius: 20px;
  transition: .4s ease;
  z-index: 2;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  padding-right: 60px;
  gap: 8px;
  position: relative;
}

.navbar .add-note-btn {
  position: absolute;
  right: 16px;
  top: -50%;
}

.expand-menu {
  display: none;
  align-self: flex-start;
}

.menu-item {
  padding: 16px;
  cursor: pointer;
  line-height: 0;
}


.menu-item p {
  display: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: white;
  border-radius: 16px;
}

.menu-item:hover p,
.menu-item:hover svg path,
.menu-item.active p,
.menu-item.active svg path {
  color: #4DA1A9;
  fill: #4DA1A9;
}


/* END OF ASIDE SECTION */

/* MAIN SECTION */
main {
  transition: .4s ease;
  position: relative;
  /* border: 1px solid blue; */
}

.notes-list {
  /* border: 1px solid red; */
  transition: .4s ease;
  margin-top: 16px;
  padding-bottom: 80px;
  /* display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr; */
}

.note {
  width: 100%;
  background-color: #7E5CAD;
  margin-bottom: 8px;
  border-radius: 16px;
  padding: 24px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note span {
  font-size: 10px;
  color: #E8E8E8;
}

.note h2 {
  font-size: 16px;
  color: #FFFFFF;
}

.note p {
  font-size: 14px;
  color: #E8E8E8;
  margin-top: 8px;
  margin-bottom: 16px;
  white-space: pre-wrap;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 7;
}

/* NOTE BACKGROUN COLOR LIST */
.note.taro {
  background-color: #7E5CAD;
}
.note.teal {
  background-color: #4DA1A9;
}
.note.blueberry  {
  background-color: #605EA1;
}
.note.emerald {
  background-color: #62825D;
}
.note.maroon {
  background-color: #AF1740;
}
.note.yellow {
  background-color: #FABC3F;
}
.note.brown {
  background-color: #4E3636;
}
.note.orange {
  background-color: #F26B0F;
}

.note-action-wrapper {
  display: flex;
  border-radius: 20px;
  padding: 2px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-left: auto;
  background-color: rgba(255, 255, 255, 0.15);
}

.note-action-wrapper button {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  border: none;
  padding: 8px;
  /* display: block; */
  cursor: pointer;
  line-height: 0;
  transition: .4s ease;
}

.note-action-wrapper button:hover {
  background-color: rgba(255, 255, 255, .35);
}

.action-list {
  display: flex;
  gap: 12px;
  max-width: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.note-action-wrapper .expand-option-button {
  background-color: transparent;
}

.expand-option-button.show ~ .action-list {
  max-width: 134px;
}

.expand-option-button.show {
  margin-left: 16px;
}

.add-note-btn {
  border: none;
  background-color: #4DA1A9;
  border-radius: 50%;
  padding: 16px;
  cursor: pointer;
  line-height: 0;
}

main .add-note-btn {
  position: sticky;
  margin-left: auto;
  bottom: 32px;
  transform: translateX(-16px);

  display: none;
}

/* END OF MAIN SECTION */

.modal {
  z-index: 999;
  position: fixed;
  opacity: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  transition: .4s ease;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: all;
}

.modal-dialog {
  width: 100%;
  max-width: 600px;
  background-color: rgba(245, 245, 247, 0.75);
  backdrop-filter: blur(60px);
  border-radius: 16px;
  padding: 24px 16px;
}

.modal-dialog form {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;

}

.close-modal-btn {
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

#title-input {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  padding: 8px 0;
}

#title-input,
#title-input::placeholder  {
  font-size: 18px;
  font-weight: 500;
  color: #2F2F2F;
}

#title-input:focus-visible,
#note-body-input {
  outline: none;
}

#note-body-input {
  /* background-color: rgba(245, 245, 247, 0.2); */
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 0;
  border: none;
}

#note-body-input,
#note-body-input::placeholder {
  color: #2F2F2F;
  font-size: 16px;
}

.submit-note {
    background-color: #4DA1A9;
    color: #F5F5F7;
    padding: 12px;
    border: none;
    border-radius: 12px;
    margin-top: 16px;
    cursor: pointer;
}

@media (min-width: 576px) {
  .notes-list {
    margin-right: -8px;
    min-height: calc(100vh - 202px);
  }

  .note {
    width: calc((100% / 2) - 8px);
  }
  
  .note p {
    -webkit-line-clamp: 12;
  }
}

@media (min-width: 768px) {
  main {
    max-width: 720px;
    margin: 0 auto;
  }

  .note {
    width: calc((100% / 3) - 8px);
  }

}

@media (min-width: 992px) {
  /* app bar section */
  .app-bar {
    background-color: #F5F5F7;
    padding: 4px 0;
    border-radius: 24px;
  }

  .search-input {
    display: block;
    background-color: #FFFFFF;
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
  }

  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }
  /* end of app bar section */

  /* SIDENAR SECTION */
  nav {
    top: 100px;
    right: unset;
    bottom: unset;
    width: 68px;
    overflow: hidden;
  }
  nav.show {
    width: 192px;
  }

  .navbar {
    flex-direction: column;
    padding-right: 8px;
  }


  .menu-item {
    display: flex;
  }

  .menu-item svg {
    flex-shrink: 0;
  }

  .menu-item p {
    display: block;
    padding-left: 16px;
    text-wrap: nowrap;
    line-height: 20px;
    opacity: 0;
    transition: .4s ease;
  }
  .menu-item * {
    pointer-events: none;
  }
  nav.show .menu-item p {
    opacity: 1;
  }

  .expand-menu {
    display: block;
  }

  .menu-item:hover {
    border-radius: 16px;
  }

  nav.show ~ main {
    padding-left: 208px;
  }
  /* END OF SIDEBAR SECTION */

  /* MAIN SECTION */
  main {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 78px;
  }

  .note {
    width: calc((100% / 4) - 8px);
  }

  .note p {
    -webkit-line-clamp: 15;
  }

  main .add-note-btn {
    display: block;
  }

  nav .add-note-btn {
    display: none;
  }
  /* END OF MAIN SECTION */
}

@media (min-width:1200px) {
  main {
    max-width: 1140px;
  }
}